[Unit]
Description=Config manager for totem
Wants=network-online.target
After=network-online.target
Requires=init-ftp.service
Requires=slideshow.service

[Service]
Type=exec
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
EnvironmentFile=/home/totem/app/.env
ExecStart=/home/totem/app/config-manager.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
