[Unit]
Description=Init Ftp

[Service]
Type=exec
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
WorkingDirectory=/home/edmar/Documents/telepresencia-iot/totem-control
ExecStart=/home/edmar/Documents/telepresencia-iot/totem-control/init-ftp.sh 
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
