[Unit]
Description=mpv server
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
EnvironmentFile=/home/pi/app/.env
ExecStart=/home/pi/app/play-content.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
