[Unit]
Description=Hall UI
Wants=network-online.target

[Service]
Type=exec
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
ExecStart=/usr/local/bin/http-server -p 6060 /home/pi/hall-dist
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
